<html>
<body>
<p style="text-align: center; font-size: 18px; font-weight: bold;">
    Reporte de Estudiantes
</p>
<table width="100%" cellpadding="6" cellspacing="0" border="1">
    <tr bgcolor="#34495e">
        <td width="6%"  align="center"><b><font color="white">ID</font></b></td>
        <td width="15%" align="left"  ><b><font color="white">Nombre</font></b></td>
        <td width="15%" align="left"  ><b><font color="white">Apellido</font></b></td>
        <td width="25%" align="left"  ><b><font color="white">Email</font></b></td>
        <td width="10%" align="left"  ><b><font color="white">Tipo Doc.</font></b></td>
        <td width="15%" align="left"  ><b><font color="white">Nro. Doc.</font></b></td>
        <td width="14%" align="left"  ><b><font color="white">Telefono</font></b></td>
    </tr>
    {{ROWS}}
</table>
</body>
</html>
