<html>
<body>
<p style="text-align: center; font-size: 18px; font-weight: bold;">
    Reporte de Productos - TechStore
</p>
<table width="100%" cellpadding="6" cellspacing="0" border="1">
    <tr bgcolor="#34495e">
        <td width="8%"  align="center"><b><font color="white">ID</font></b></td>
        <td width="22%" align="left"  ><b><font color="white">Nombre</font></b></td>
        <td width="30%" align="left"  ><b><font color="white">Descripcion</font></b></td>
        <td width="15%" align="left"  ><b><font color="white">Categoria</font></b></td>
        <td width="15%" align="left"  ><b><font color="white">Precio</font></b></td>
        <td width="10%" align="left"  ><b><font color="white">Stock</font></b></td>
    </tr>
    {{ROWS}}
</table>
</body>
</html>
